<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>TFS Monitor</title>

    <meta charset="UTF-8">
    <meta property="og:title" content="TFS Monitor"/>
    <meta property="og:description" content="TFS Monitor" />
    <meta property="og:type" content="website" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/normalize.css">
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body>
    <h1>{{ team_project }}</h1>
    <section class="builds">
      <h2>Builds</h2>
      <ul></ul>
    </section> 

    <section class="pull-requests">
      <h2>Pull Requests</h2>
      <ul></ul>
    </section> 

    <script src="/js/templates.js"></script>
    <script src="/js/panel.js"></script>
  </body>
</html>

